<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studielink.trustchain">

    <uses-feature android:name="android.hardware.fingerprint" android:required="true"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.studielink.trustchain.Main.FingerprintAuthActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.studielink.trustchain.Main.DashboardActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".main.TrustChainActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:windowSoftInputMode="stateUnchanged" />
        <activity android:name=".chainExplorer.ChainExplorerActivity" />
        <activity android:name=".main.ConnectionExplanationActivity" />
        <activity
            android:name=".main.OverviewConnectionsActivity"
            android:configChanges="orientation|screenLayout|screenSize" />
        <activity
            android:name=".main.ChainExplorerInfoActivity"
            android:label="@string/title_activity_info_chain_explorer" />
        <activity
            android:name=".main.BootstrapActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".inbox.InboxActivity"/>
    </application>

</manifest>