<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.tudelft.cs4160.trustchain_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.fingerprint" android:required="true"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        tools:replace="android:allowBackup"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".Main.ChooseLoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Main.TrustChainActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:windowSoftInputMode="stateUnchanged"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Main.ChainExplorerActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Main.ConnectionExplanationActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Main.OverviewConnectionsActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Main.FingerprintAuthActivity"
            android:noHistory="true"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Main.StudentRegisterActivity"
            android:noHistory="true"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Main.InstitutionLoginActivity"
            android:noHistory="true"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".QR.ScanQRActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".QR.ExportWalletQRActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Funds.FundsActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Main.ChainExplorerInfoActivity"
            android:label="@string/title_activity_info_chain_explorer"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Main.BootstrapActivity"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Inbox.InboxActivity"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>